{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load tz %}
{% load custom_filters %}
{# Импортируем модуль с нашим тегом #}

{% block title %}
Articles
{% endblock title %}

{% block content %}
   <p class="text-left"><a href=".."  class="btn btn-secondary btn-sm"> {% trans "home" %} </a>
   <a href="create/"  class="btn btn-secondary btn-sm"> {% trans "create news" %} </a>

    <h5>{% trans "You joined as" %}:  {{request.user}}</h5>
    <h2>{% trans "All articles today" %} - {{ time_now|date:'M d Y' }}</h2>
    <h3>{% trans "total articles" %}: {{ page_obj.paginator.count }} </h3>
    <h4>{% trans "publications on the current page" %}: {{ articles|length}}</h4>
                    {% block menu %}

                    {% endblock menu %}
<hr>
   {% if articles %}
<table height="200">
    <tr>
       <td><h6>{% trans "title" %} </h6></td>
       <td><h6>{% trans "category" %} </h6></td>
       <td><h6>{% trans "post" %}</h6></td>
       <td><h6>{% trans "date create" %}</h6></td>
   </tr>
    {% for post in articles %}
    <tr class="{% cycle 'blue' 'white' %}">
           <td>{{ post.title|censor }}</td>
           <td>
               {% for category in post.category.all %}
                <a href="{% url 'category_list' category.id %}">{{ category }}</a>
               {% endfor %}
           </td>
           <td>{{ post.text_post|censor|truncatewords:20 }}</td>
           <td>{{ post.time_create|date:'d M Y' }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
    <ul align="center">
    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   </ul>
{% endblock content %}