{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
<form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
   <p class="text-left"><a href=".."  class="btn btn-secondary btn-sm">{% trans "home" %} </a>
       <a href="create/"  class="btn btn-secondary btn-sm"> {% trans "create article" %} </a>

    <h5>{% trans "You joined as" %}:  {{request.user}}</h5>
    <h2>{% trans "All articles today" %} - {{ time_now|date:'M d Y' }}</h2>
    <h3>{% trans "total articles" %}: {{ page_obj.paginator.count }} </h3>
    <h4>{% trans "publications on the current page" %}: {{ articles|length}}</h4>

<hr>
   {% if articles %}
<table height="200">
    <tr>
       <td><h6>Заголовок</h6></td>
       <td><h6>Категории</h6></td>
       <td><h6>Текст</h6></td>
       <td><h6>Дата публикации</h6></td>
   </tr>
    {% for post in articles %}
    <tr class="{% cycle 'blue' 'white' %}">
           <td>{{ post.title|censor }}</td>
           <td>
               {% for category in post.category.all %}
                <a href="{% url 'category_list' category.id %}">{{ category }}</a>
               {% endfor %}
           </td>
           <td>{{ post.text_post|censor|truncatewords:20 }}</td>
           <td>{{ post.time_create|date:'d M Y' }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
    <ul align="center">
    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   </ul>
{% endblock content %}