{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Post
{% endblock title %}
{% block content %}
   <h1>Все главные новости</h1>
   <h4>Всего новостей в ленте: {{ posts|length }}</h4>
   <h3>Список новостей на: {{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Текст</td>
               <td>Дата публикации</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.text_post|censor|truncatewords:20 }}</td>
               <td>{{ post.time_create|date:'d M Y' }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}